<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projet personnel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->




    <link rel="stylesheet" href="{{ asset('front/vendor/bootstrap/css/bootstrap.min.css') }}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="{{ asset('front/vendor/font-awesome/css/font-awesome.min.css') }}">
    <!-- Google fonts - Roboto-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <!-- Bootstrap Select-->
    <link rel="stylesheet" href="{{ asset('front/vendor/bootstrap-select/css/bootstrap-select.min.css') }}">
    <!-- owl carousel-->
    <link rel="stylesheet" href="{{ asset('front/vendor/owl.carousel/assets/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendor/owl.carousel/assets/owl.theme.default.css') }}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{{ asset('front/css/style.blue.css') }}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{{ asset('front/css/custom.css') }}">
    <!-- Favicon and apple touch icons-->
    <link rel="shortcut icon" href="{{ asset('front/img/favicon.ico" type="image/x-icon') }}">
    <link rel="apple-touch-icon" href="{{ asset('front/img/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('front/img/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('front/img/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('front/img/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('front/img/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('front/img/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('front/img/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('front/img/apple-touch-icon-152x152.png') }}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->




</head>
<body>
<div id="all">
    <!-- Top bar-->
    <div class="top-bar">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 d-md-block d-none">

                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-md-end justify-content-between">
                        <ul class="list-inline contact-info d-block d-md-none">
                            <li class="list-inline-item"><a></a></li>
                            <li class="list-inline-item"><a href="#"></a></li>
                        </ul>
                        <div class="login">



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top bar end-->


    <!-- Navbar Start-->
    <header class="nav-holder make-sticky">
        <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
            <div class="container"><a href="{{ path("front_home") }}" class="navbar-brand home"><img style="width: 150px ;height: 80px" src="{{ asset('logo.png') }}" class="d-none d-md-inline-block"><img style="width: 60px ;height: 40px" src="{{ asset('logo.png') }}" alt="Universal logo" class="d-inline-block d-md-none"><span class="sr-only">Universal - go to homepage</span></a>
                <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
                <div id="navigation" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav ml-auto">


                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


                            <li class="nav-item dropdown menu-large">
                                <a href="{{ path('fos_user_security_logout') }}"class="login-btn">
                                    <i class="fa fa-sign-out"></i><span class="d-none d-md-inline-block">Logout</span>
                                    <b class="caret"></b></a>
                            </li>
                            <li class="nav-item dropdown menu-large"><a href="{{ path('add_internship') }}"  class="">Service <b class="caret"></b></a>
                            </li>


                            <li class="nav-item dropdown menu-large"><a href="{{ path('front_home') }}"  class="">Historic <b class="caret"></b></a>
                            </li>

                        {% else %}


                            <li class="nav-item dropdown menu-large">
                                <a href="{{ path("fos_user_security_login") }}"  class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Connection</span></a>

                            </li>


                            <li class="nav-item dropdown menu-large">
                                <a href="{{ path("fos_user_registration_register") }}" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Register</span></a>

                            </li>

                        {% endif %}



                        <!-- ========== Contact dropdown end ==================-->
                    </ul>
                </div>
                <div id="search" class="collapse clearfix">
                    <form role="search" class="navbar-form">
                        <div class="input-group">
                            <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- Navbar End-->

    {% block content %}

    {% endblock %}
    <!-- FOOTER -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <h4 class="h6">Contact</h4>
                    <p class="text-uppercase"><strong>
                            <i class="fa fa-location-arrow"></i> 71, rue Saint-Simon
                            <br>
                            94000 Créteil</strong><br>
                        <i class="fa fa-phone"></i> Tél : +33 1 56 72 62 55 <br>


                    <hr class="d-block d-lg-none">
                </div>

            </div>
        </div>
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center-md">
                        <p>Copyright © 2019-2020. All rights reserved.</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Javascript files-->


<!-- import jquery du vendor ici -->
<!-- import vendor unless you need or jquey wont work on your page-->
<!--<script src="{{ asset('front/vendor/jquery/jquery.min.js') }}"></script>-->

<script src="{{ asset('front/vendor/popper.js/umd/popper.min.js') }}"> </script>
<script src="{{ asset('front/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('front/vendor/jquery.cookie/jquery.cookie.js') }}"> </script>
<script src="{{ asset('front/vendor/waypoints/lib/jquery.waypoints.min.js') }}"> </script>
<script src="{{ asset('front/vendor/jquery.counterup/jquery.counterup.min.js') }}"> </script>
<script src="{{ asset('front/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('front/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js') }}"></script>
<script src="{{ asset('front/js/jquery.parallax-1.1.3.js') }}"></script>
<script src="{{ asset('front/vendor/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('front/vendor/jquery.scrollto/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('front/js/front.js') }}"></script>
</body>
</html>